body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('forest.jpeg');
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.upload-section {
    text-align: center;
    margin-bottom: 20px;
}

.upload-label {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.upload-label:hover {
    background-color: #45a049;
}

.upload-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.analysis-section {
    margin-top: 20px;
}

.analysis-section p {
    font-size: 18px;
    margin: 5px 0;
}

.icon {
    margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.modal-content button:hover {
    background-color: #45a049;
}
